@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

/* style in body */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #12495d;
    position: relative;
}

header {
    min-width: 250px;
    position: absolute;
    width: 100px;
    background-color: #0c455a;
    height: 100vh;
    position: fixed;
    overflow: hidden;
}

/* nav style */
header .header {
    min-width: 250px;
    background-color: #0C455A;
    min-height: 100vh;
    padding: 50% 0;
    display: flex;
    align-items: center;
}

.header nav {
    margin: auto;
    position: relative;
    padding: 0 10px;
    min-width: 240px;
}

.header nav ul {
    list-style: none;
    margin: auto;
}

.header nav ul li {
    line-height: 60px;
    font-size: 20px;
}

.header nav ul li a {
    text-decoration: none;
    color: #1CB6EE;
    background-color: #12495d;
    padding: 10px 15px 10px 35px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    transition: all 0.5s;
}

.header nav ul li a:hover {
    color: #12495d;
    background-color: #1CB6EE;
    box-shadow: 2px 2px 5px rgb(132, 132, 132);
}

/*all section part style*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*about-section style  */

.about-title {
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
}

.author-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #7ccae7;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-description {
    color: #7ccae7;
    font-size: 1.3em;
}

/* social media icon part style */
.media-icon ul {
    display: flex;
}

.media-icon button {
    height: 60px;
    width: 60px;
    font-size: 2em;
    background-color: #275d70;
    color: #1cb6ee;
    border: 1px solid #1cb6ee;
    margin-top: 20px;
    transition: 0.6s;
}

.media-icon button:hover {
    border: none;
    background-color: #1cb6ee;
    color: #275d70;
}

/* my images style */
.my-img {
    height: 500px;
    width: 500px;
    margin-top: 40px;
    background-color: #275d70;
    border-radius: 10px;
    overflow: hidden;
}

.my-img img {
    width: 100%;
    border-radius: 8px;
}

.mut,
.working-process-items,
.my-skill-container {
    display: none;
}
































/* my working process section style*/
.working-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
    margin: 30px 0 5px 0;
}

.hr-line {
    border: 2px solid #7ccae7;
    margin: 0 80px;
}

.hr-line-1 {
    border: 2px solid #7ccae7;
    margin: 0 140px 0 140px;
    margin-bottom: 20px;
}

.working-process-item {
    height: 500px;
    width: 500px;
    padding: 50px;
    position: relative;
    background-color: #0C455A;
    border: 1px solid #7ccae7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.working-process-item::before {
    content: '';
    position: absolute;
    background: #1CB6EE;
    height: 150%;
    width: 300px;
    animation: rod 5s linear infinite;
}

.working-process-item::after {
    content: '';
    position: absolute;
    background: #0C455A;
    inset: 3px;
    border-radius: 10px;
}

@keyframes rod {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.item-box {
    z-index: 6;
}

.working-logo {
    text-align: center;
}

.fa-solid {
    font-size: 105px;
    padding-top: 30px;
    color: #1CB6EE;
}

.working-logo .item-name {
    font-size: 2em;
    font-weight: bold;
    color: #1CB6EE;
    margin: 20px;
}

.item-description {
    color: #7ccae7;
    font-size: 18px;
}


/* my skills section style*/

.skills-section-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
    margin: 20px 0 5px 0;
}

.hr-line-2 {
    border: 2px solid #7ccae7;
}

.hr-line-3 {
    border: 2px solid #7ccae7;
    margin: 2px 90px 0 90px;
}

.my-skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-item {
    /* height: 450px; */
    width: 300px;
    margin-top: 50px;
    /* text-align: center; */
    padding: 10px;
}

.skill-item img {
    width: 80%;
}

.skill-name .skill-title {
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
    margin-bottom: 10px;
}

.skill-name {
    color: #7ccae7;
    font-size: 18px;
    margin-top: 20px;
}

/* My Work Experience section style */

.timeline-box {
    /* display: flex; */
}


.experience-container {
    border: 2px solid;
}

.experience-date {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    color: #1CB6EE;
    font-weight: 500;
}

.dev-intern {
    font-size: 15px;
    color: #7ccae7;
}

.company-name {
    margin: 5px 0;
    color: #1CB6EE;
}

.experience-item {
    line-height: 25px;
    margin: 5px;
}

.experience-item span {
    padding: 10px;
    background-color: #1CB6EE;
    color: #0C455A;
    margin-top: 8px;
    display: inline-block;
}

/* right part */
.timeline ul li {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    list-style: none;
    color: #7ccae7;
    margin-top: 5px;
}