@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&family=Open+Sans&family=Poppins:wght@700&family=Work+Sans:wght@700&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

/* style in body */
body {
    max-width: 1100px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #12495d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 100px;
}

/*about-section style  */

.about-title {
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
}

.author-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #7ccae7;
    margin-top: 15px;
    margin-bottom: 15px;
}

.about-description {
    color: #7ccae7;
    font-size: 1.3em;
}

/* social media icon part style */
.media-icon ul {
    display: flex;
}

.media-icon button {
    height: 60px;
    width: 60px;
    font-size: 2em;
    background-color: #275d70;
    color: #1cb6ee;
    border: 1px solid #1cb6ee;
    margin-top: 20px;
    transition: 0.6s;
}

.media-icon button:hover {
    border: none;
    background-color: #1cb6ee;
    color: #275d70;
}

/* my images style */
.my-img {
    height: 500px;
    width: 500px;
    margin-top: 40px;
    background-color: #275d70;
    border-radius: 10px;
}

.my-img img {
    width: 100%;
    border-radius: 8px;
}

/* my working process section style*/
.working-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
    margin: 20px 0 20px 0;
}

.working-process-item {
    height: 400px;
    width: 400px;
    padding: 50px;
    position: relative;
    background-color: #0C455A;
    border: 1px solid #7ccae7;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 40px;
}

.working-process-item::before {
    content: '';
    position: absolute;
    background: #1CB6EE;
    height: 150%;
    width: 300px;
    animation: rod 4s linear infinite;
}

.working-process-item::after {
    content: '';
    position: absolute;
    background: #0C455A;
    inset: 3px;
    border-radius: 10px;
}

@keyframes rod {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.item-box {
    z-index: 6;
}

.working-logo {
    text-align: center;
}

.fa-solid {
    font-size: 105px;
    padding-top: 30px;
    color: #1CB6EE;
}

.working-logo .item-name {
    font-size: 2em;
    font-weight: bold;
    color: #1CB6EE;
    margin: 20px;
}

.item-description {
    color: #7ccae7;
    font-size: 18px;
}


/* my skills section style*/

.skills-c-section-title {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
    margin: 20px 0 50px 0;
}

.my-skill-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-item {
    height: 450px;
    width: 300px;
    margin-top: 30px;
    text-align: center;
}

.item-3 {
    margin-top: 70px;
}

.skill-item img {
    width: 80%;
}

.skill-name .skill-title {
    font-size: 2em;
    font-weight: bold;
    color: #1cb6ee;
    margin-bottom: 10px;
}

.skill-name {
    color: #7ccae7;
    font-size: 18px;
    margin-top: 20px;
}